:root{
    --dim-grey: rgb(147, 156, 170);
    --dark-grey: rgb(73, 85, 103);
    --yellow: rgb(252, 183, 43);
    --snow-color: rgb(242, 245, 249);
    --light-yellow: rgb(255, 244, 223);
    --light-grey:  rgb(229, 236, 244);
    
}
/* lexend-deca-regular - latin */
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lexend-deca-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lexend-deca-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* space-mono-regular - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/space-mono-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/space-mono-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* space-mono-700 - latin */
  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/space-mono-v6-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/space-mono-v6-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* General Styles */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: var(--dim-grey);
    overflow-x: hidden;
}
.container{
    width: 1100px;
    padding-right: 25px ;
    padding-left: 25px;
    margin-left: auto;
    margin-right: auto;
}
.site-nav{
    display: flex;
    margin-top: 22px;
    margin-bottom: 21px;
}
.nav-list{
    display: flex;
}
.nav-list-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    color: var(--dim-grey);
}
.site-logo{
    margin-right: 73px;
}
.site-link{
    padding: 14px 39px 14px 39px;
    color: #fff;
    background-color: var(--yellow);
    text-decoration: none;
}
.header-link{
    margin-left: auto;
}
.visually-hidden{
    visibility: hidden;
}
.hero-section{
    color: #fff;
    padding: 153px 0;
    background-image:linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
    url("images/site-hero-bg-scoot.png");
    background-repeat: no-repeat;
    background-position: center center,
        calc(50% + 300px) 85%;
}
.hero-title{
    width: 480px;
    font-family: "Space Mono", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;

}
.hero-text{
    font-family: "Lexend Deca", sans-serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    width: 405px;
    margin-left: 100px;
    margin-bottom: 40px;
}
.hero-link{
   margin-left: 100px;
}
.hero-mini-container::after{
    content: "";
    display: block;
    width: 447px;
    height: 138px;
    background-repeat: no-repeat;
    background-position: calc(50% + 300px) 70%;
    background-image: url("images/yellow-arrow-to-right.svg");
    background-size: contain;

}
.hero-mini-container::before{
    content: "";
    display: block;
    width: 203px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: calc(70% + 500px) 50%;
    background-image: url("images/yellow-arrow-to-left.svg");
    
    
}
.info-list{
    display: flex;
    margin-top: 298px;
    position: relative;
    margin-bottom: 200px;
}
.info-list::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: -165px;
    top:-100px;
    width: 960px;
    height: 10px;
    background-color: #E5ECF4;
}
.info-list-item{
    list-style: none;
    margin-right: 30px;
}
.info-list-item:not(:last-child()){
    margin-right: 30px;
}
.location::before{
    content: "";
    position: absolute;
    top: -150px;
    width: 96px;
    height: 96px;
    background-color: var(--yellow);
    border-radius: 50%;
    background-image: url("images/locate-with-app.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.scooter::before{
    content: "";
    position: absolute;
    top: -150px;
    width: 96px;
    height: 96px;
    background-color: var(--yellow);
    border-radius: 50%;
    background-image: url("images/pick-your-scooter.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.ride::before{
    content: "";
    position: absolute;
    top: -150px;
    width: 96px;
    height: 96px;
    background-color: var(--yellow);
    border-radius: 50%;
    background-image: url("images/enjoy-the-ride.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.info-list-item-title{
    font-family: "Space Mono" , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
    margin-bottom: 27px;
}
.info-list-item-text{
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
}
.info-list-details{
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}
.info-details-item{
    list-style: none;
    width: 445px;
    position: relative;
    margin-bottom: 200px;
}
.info-details-title{
    font-family: "Space Mono" , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--dark-grey);
}
.info-details-text{
font-size: 15px;
line-height: 25px;
margin-bottom: 40px;
}
.city{
   margin-left: auto;
    
}
.easy-to-use::after{
   content: "";
   background-image: url("images/easy_to_use.png");
   width: 900px;
   height: 445px;
   top: -100px;
   right: -900px;
   position: absolute;
   background-repeat: no-repeat;
   background-position: center end;
}
.city::after{
    content: "";
    background-image: url("images/commint.png");
    width: 1000px;
    height: 445px;
    top: -50px;
    left: -1200px;
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    
    
}
.payment::after{
    content: "";
   background-image: url("images/zero_hasle.png");
   width: 900px;
   height: 445px;
   top: -50px;
   right: -1000px;
   position: absolute;
   background-repeat: no-repeat;
   background-position: center end; 
}

